/Machine/PCB/arcade-pcb/production
/Machine/PCB/arcade-pcb/arcade-pcb-backups
/Controller-Tennis/PCB/controller-tennis/controller-tennis-backups
/Controller-Tennis/PCB/controller-tennis/production
/Controller-Standard/PCB/controller-standard/controller-standard-backups
/Controller-Standard/PCB/controller-standard/production/backups
